openapi: 3.0.0
info:
  title: CDN
  version: '1.0'
  description: CDN360 APIs allow you to manage domain configurations.
  x-logo:
    url: images/cdn6.jpg
    backgroundColor: '#FFFFFF'
    altText: CDNetworks logo
  contact:
    url: 'https://www.cdnetworks.com'
servers:
  - url: 'https://ngapi.cdnetworks.com'
paths:
  '/cdn/properties/{propertyID}/versions/{version}':
    get:
      description: Get the detailed configuration of a property version.
      operationId: getPropertyVersion
      tags:
        - Property Management
      responses:
        '200':
          description: The response contains the full details of the property version configuration.
          content:
            application/json:
              schema:
                $ref: ./models/propertyversion.v1.yaml
              examples:
                example-1:
                  value:
                    version: 1
                    configs:
                      description: validPropertyVersionAllFields_PropertySteps
                      cacheKeyHostname: testdomain-t1572403678265.mwtrial.info
                      tlsCertificateId: b0b3f432ccbaafb5693ce13d
                      tlsMinVersion: '1.1'
                      tlsMaxVersion: '1.2'
                      tlsCiphers: 'ALL:-MD5'
                      syntaxVersion: '1'
                      hasBeian: false
                      schemeInCacheKey: false
                      requestHandlers:
                        preprocess: {}
                        prehtlookup: {}
                        posthtlookup: {}
                        origins: {}
                        mod4origin: {}
                        cachetime: {}
                        mod4client: {}
                        responseDone: {}
                      hostnames:
                        - testdomain-t1572403678233.mwtrial.info
                        - testdomain-t1572403678265.mwtrial.info
                      origins:
                        - name: my_origin_1572403678233
                          supportedProtocol: both
                          hostHeader: autohostheader.com
                          directConnection: alwaysDirect
                          supportSni: true
                          servers:
                            - mwtrial.info
                      loadBalancerHashKey: $http_hashvalue
                      edgeLogic: 'location / {origin_pass my_origin_1572403678233;} return 200;'
                      allowProtocolDowngrade: false
                    status:
                      lastValidationStatus: NotValidated
                      frozen: false
                      creationTime: '2019-10-30T02:47:59Z'
                      lastUpdateTime: '2019-10-30T02:47:59Z'
                      inProduction: false
                      inStaging: false
        '400':
          description: The request was invalid. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid version:
                  value:
                    code: InvalidVersion
                    message: 'The version number must be a positive integer or "latest".'
        '404':
          description: Invalid property.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid property ID:
                  value:
                    code: InvalidPropertyId
                    message: The specified property ID does not exist.
      summary: Query a property version
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    parameters:
      - schema:
          type: string
        name: version
        in: path
        required: true
        description: 'A property version. It must be an integer value >=1 or the word "latest", in which case the most recent version is returned.'
      - schema:
          type: string
        name: propertyID
        in: path
        required: true
    patch:
      summary: Update a property version
      responses:
        '204':
          description: Indicates the property version was successfully updated.
        '400':
          description: The request was invalid. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Frozen property version:
                  value:
                    code: FrozenPropertyVersion
                    message: The property version cannot be updated because it is currently deployed to staging or production.
                Invalid version:
                  value:
                    code: InvalidVersion
                    message: The version number must be a positive integer.
        '404':
          description: The property could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidPropertyId
                    message: The specified property ID does not exist.
      description: "This API lets you update a property version. Please note that a property that has already been deployed to production or staging is 'frozen' and cannot be updated or validated again. The only exception is that the version description can be updated."
      operationId: updatePropertyVersion
      tags:
        - Property Management
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/propertyconfiguration.v1.yaml
            examples:
              example-1:
                value:
                  origins:
                    - supportedProtocol: both
                      hostHeader: autohostheader.com
                      servers:
                        - mwtrial.info
                      supportSni: false
                      name: my_origin_1572403819776
                      verifyOrigin: null
                      directConnection: auto
        description: The body consists of the property configuration you wish to set.
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
  '/cdn/properties/{propertyID}':
    parameters:
      - schema:
          type: string
        name: propertyID
        in: path
        description: |
          ID of a property
        required: true
    get:
      summary: Query a property
      tags:
        - Property Management
      responses:
        '200':
          description: 'This API returns a brief summary of a property including its description, version deployed to production and staging, and the number of versions that have been created.'
          content:
            application/json:
              schema:
                $ref: ./models/property.v1.yaml
              examples:
                example-1:
                  value:
                    name: Test20190827
                    description: testing ....
                    ownerCustomerId: 6
                    versions: 1
                    lastUpdateTime: '2019-08-27T19:33:38Z'
                    creationTime: '2019-08-27T19:15:17Z'
        '404':
          description: The property was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid property ID:
                  value:
                    code: InvalidPropertyId
                    message: The specified property ID does not exist.
      description: Returns a summary about a property including the number of versions that have been created and which versions are deployed.
      operationId: queryProperty
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    patch:
      tags:
        - Property Management
      summary: Update a property
      responses:
        '200':
          description: This response indicates the property was successfully updated.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: AccessDenied
                    message: This user is not allowed to perform this request.
        '404':
          description: The property cannot be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid property ID:
                  value:
                    code: InvalidPropertyId
                    message: The specified property ID does not exist.
        '409':
          description: There is another property with the same name.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Duplicate property name.:
                  value:
                    code: DuplicatePropertyName
                    message: A property with the same name already exists.
      description: "This endpoint changes the name and description of a property. Its versions are unaffected. \n\nIf you wish to change a property's configuration, use the <a href=\"#operation/updatePropertyVersion\">Update a property version API</a>."
      operationId: updateProperty
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the property.
                description:
                  type: string
                  description: 'Description of the property. If unspecified, the description will not be updated.'
              required:
                - name
            examples:
              example-1:
                value:
                  name: TestProperty1572403806952
                  description: updated
        description: "Specify the property's new name or description."
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    delete:
      summary: Delete a Property
      description: Delete a property by its ID.
      operationId: deleteProperty
      responses:
        '204':
          description: The property was successfully deleted.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: AccessDenied
                    message: This user is not allowed to perform this request.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidPropertyId
                    message: The specified property ID does not exist.
        '409':
          description: The property could not be deleted because it is currently deployed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: PropertyInUse
                    message: 'The property is currently deployed to staging or production and cannot be deleted. The user must create a deployment task to remove the property from the cache servers. Version on staging: 2. Version on production: 2.'
      tags:
        - Property Management
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
  '/cdn/cnames/{CNAME}':
    get:
      summary: Get a CNAME
      tags:
        - CNAME Management
      responses:
        '200':
          description: The response body contains details of the CNAME.
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    description: Operation history
                    items:
                      type: object
                      properties:
                        apiAccountId:
                          type: string
                          description: Indicates the API account that made the change.
                        apiName:
                          type: string
                          description: API account name.
                        operation:
                          type: string
                          enum:
                            - creation
                            - update
                          description: Indicates the action taken.
                        time:
                          type: string
                          description: RFC 3339 format date of the event.
                          example: '"2019-11-11T23:34:59Z'
                        apiRequestId:
                          type: string
                          description: An ID representing the API call that made the change.
                      required:
                        - apiAccountId
                        - apiName
                        - operation
                        - time
                        - apiRequestId
                  lastUpdateTime:
                    type: string
                    description: RFC 3339 format date indicating when the CNAME was last updated.
                    example: '2019-11-11T23:35:00Z'
                  creationTime:
                    type: string
                    description: RFC 3339 format date indicating when the CNAME was created.
                    example: '2019-11-11T23:34:59Z'
                  ownerCustomerId:
                    type: integer
                    description: Indicates the customer account that owns the CNAME.
                    format: int64
                  configs:
                    type: object
                    description: Contains settings that can be modified.
                    properties:
                      cname:
                        type: string
                        description: A CNAME.
                      pciRequired:
                        type: boolean
                        default: false
                        description: 'Indicates whether PCI compliance is required.  <i>true</i> means content will only be served by PCI certified PoPs.'
                      description:
                        type: string
                        description: A description of the CNAME.
                      hasBeian:
                        type: boolean
                        default: false
                        description: |
                          Indicate whether you have a Beian license for service in China. If you do, content can be served by servers located within mainland China.
                      clientZones:
                        type: array
                        items:
                          $ref: ./models/cnameregionrules.v1.yaml
                      estimatedBandwidth:
                        type: string
                        description: 'An estimate of the bandwidth required to serve content using this CNAME. Units of meaurement should be in Tbps, Gbps, Mbps, or kbps. Example: 100Gbps'
                    required:
                      - cname
              examples:
                example-1:
                  value:
                    ownerCustomerId: 20000021
                    configs:
                      cname: testcname.qtlcdn.com
                      pciRequired: false
                      hasBeian: false
                      clientZones:
                        - region: all
                          action:
                            type: deliver
                            by:
                              - standard
                          isp: all
                          weight: 100
                    creationTime: '2020-02-11T23:36:15Z'
                    lastUpdateTime: '2020-02-11T23:36:17Z'
                    history:
                      - apiAccountId: '5640'
                        apiName: apiaccount-operator
                        operation: creation
                        time: '2020-02-11T23:36:15Z'
                        apiRequestId: 38adfc359ba51eec
                      - apiAccountId: '5640'
                        apiName: apiaccount-operator
                        operation: update
                        time: '2020-02-11T23:36:17Z'
                        apiRequestId: 4b7b23f1d33e761d
        '404':
          description: The CNAME was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidCNAME
                    message: "The specified CNAME does not exist or the caller doesn't have access to this resource."
      description: This API returns information about a CNAME including the associated client zone rules and operation history.
      operationId: getCNAME
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    delete:
      summary: Delete a CNAME
      tags:
        - CNAME Management
      responses:
        '204':
          description: The CNAME was successfully deleted.
        '404':
          description: The CNAME could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidCNAME
                    message: "The specified CNAME does not exist or the caller doesn't have access to this resource."
      operationId: deleteCNAME
      description: 'Use this API to delete a CNAME. If you have configured your DNS server with this CNAME, you should update your DNS records before deleting it. Otherwise, visitors to the associated hostnames will see an error.'
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    parameters:
      - schema:
          type: string
        name: CNAME
        in: path
        required: true
        description: a CNAME
    put:
      summary: Update a CNAME
      responses:
        '204':
          description: The CNAME was updated.
        '400':
          description: The request was invalid. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidRedirectDst
                    message: "The field 'to' must contain either one hostname or multiple IPs."
                example-2:
                  value:
                    code: InvalidWeightCode
                    message: "Invalid weight 'test'. The weight should be an integer between 0 and 100."
        '404':
          description: The CNAME was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidCNAME
                    message: "The specified CNAME does not exist or the caller doesn't have access to this resource."
      operationId: updateCNAME
      description: Use this API to update a CNAME. Be sure to enter all fields describing your CNAME including ones that are not changing.
      tags:
        - CNAME Management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cname:
                  type: string
                  description: The CNAME
                description:
                  type: string
                  description: A description of the CNAME.
                pciRequired:
                  type: boolean
                  description: 'Whether PCI compliance is required.  <i>true</i> means content will only be served by PCI certified PoPs.'
                hasBeian:
                  type: boolean
                  description: 'Indicate whether you have a Beian license for service in China.  If you do, content can be served by servers located within mainland China.'
                gdprCompliant:
                  type: boolean
                  description: "If set to 'true', clients from European Economic Area (EEA) countries will only be served by a IP addresses in EEA countries."
                clientZones:
                  type: array
                  description: "Specify rules to control how requests from client zones are handled. If unspecified, a default rule is created which uses our 'standard' server group to handle all requests.  <code>{\"region\":\"all\", \"isp\":\"all\", \"action\":{\"type\":\"deliver\",\"by\":[\"standard\"]}}</code>"
                  items:
                    $ref: ./models/cnameregionrules.v1.yaml
                estimatedBandwidth:
                  type: string
                  description: 'An estimate of the bandwidth required to serve content using this CNAME. Units of meaurement should be in Tbps, Gbps, Mbps, or kbps. Example: 100Gbps'
              required:
                - cname
            examples:
              example-1:
                value:
                  cname: testcname.t1573515322742.qtlcdn.com
                  clientZones:
                    - region: all
                      action:
                        type: deliver
                        by:
                          - standard
                      weight: 100
        description: The request body fully describes the CNAME. Please include all fields even if you are not changing their values.
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    patch:
      summary: Update a CNAME
      operationId: patch-cdn-cnames-CNAME
      responses:
        '204':
          description: The CNAME was successfully updated.
        '404':
          description: The CNAME could not be found. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid CNAME:
                  value:
                    code: InvalidCNAME
                    message: "The specified CNAME does not exist or the caller doesn't have access to this resource."
      description: This API allows you to update a CNAME by sending only the fields that are changing.
      tags:
        - CNAME Management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: A description of the CNAME.
                pciRequired:
                  type: boolean
                  description: 'Whether PCI compliance is required.  <i>true</i> means content will only be served by PCI certified PoPs.'
                hasBeian:
                  type: boolean
                  description: 'Indicate whether you have a Beian license for service in China.  If you do, content can be served by servers located within mainland China.'
                grprCompliant:
                  type: boolean
                  description: "If set to 'true', clients from European Economic Area (EEA) countries will only be served by a IP addresses in EEA countries."
                clientZones:
                  $ref: ./models/cnameregionrules.v1.yaml
                estimatedBandwidth:
                  type: string
                  description: 'An estimate of the bandwidth required to serve content using this CNAME. Units of meaurement should be in Tbps, Gbps, Mbps, or kbps. Example: 100Gbps'
            examples:
              example-1:
                value:
                  description: This is a new CNAME for use with our hostname.
        description: The request body contains the fields you wish to modify.
  '/cdn/properties/{propertyID}/versions':
    get:
      description: Get a list of all property versions. A summary of each version including its status and associated hostnames is returned.
      operationId: getPropertyVersions
      summary: Query property version list
      tags:
        - Property Management
      responses:
        '200':
          description: Returns a list of property versions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  propertyVersions:
                    type: array
                    description: A summary of each version of the property.
                    items:
                      type: object
                      description: Describe a particular property version.
                      properties:
                        version:
                          type: integer
                          minimum: 1
                          description: A version number.
                        description:
                          type: string
                          description: A description of the property version.
                        creationTime:
                          type: string
                          description: 'RFC 3339 format date indicating when the property version was created. Example: 2016-12-28T23:10:42Z'
                        hostnames:
                          type: array
                          description: Hostnames associated with the property.
                          items:
                            type: string
                        frozen:
                          type: boolean
                          default: false
                          description: Indicates whether the property version is frozen or can still be updated. A property version is frozen once it has been deployed.
                        lastUpdateTime:
                          type: string
                          description: 'RFC 3339 format date indicating when the property version was last updated. Example: 2016-12-28T23:10:42Z'
                        lastValidationStatus:
                          type: string
                          enum:
                            - NotValidated
                            - InProgress
                            - Validated
                            - Failed
                          description: Indicates the status of the most recent validation of the property version.
                      required:
                        - version
                        - hostnames
                  count:
                    type: integer
                    description: Indicates the number of versions of the property.
                    minimum: 0
              examples:
                example-1:
                  value:
                    propertyVersions:
                      - version: 1
                        description: validProperty_GetPropertyVersionListTestSteps
                        creationTime: '2019-10-30T02:33:45Z'
                        hostnames:
                          - domain.info
                        frozen: false
                        lastUpdateTime: '2019-10-30T02:33:45Z'
                        lastValidationStatus: NotValidated
                      - version: 2
                        description: validPropertyVersionWithoutCertificate_PropertySteps
                        creationTime: '2019-10-30T02:33:46Z'
                        hostnames:
                          - domain.info
                        frozen: true
                        lastUpdateTime: '2019-10-30T02:33:46Z'
                        lastValidationStatus: Validated
                      - version: 3
                        description: validPropertyVersionWithoutCertificate_PropertySteps
                        creationTime: '2019-10-30T02:33:47Z'
                        hostnames:
                          - domain.info
                        frozen: false
                        lastUpdateTime: '2019-10-30T02:33:47Z'
                        lastValidationStatus: NotValidated
                    count: 3
        '400':
          description: Invalid request. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidListLimit
                    message: 'The value of limit should be between 1 and 200, inclusive.'
                example-2:
                  value:
                    code: InvalidListOffset
                    message: The offset must be a valid non-negative integer.
        '404':
          description: The property could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidPropertyId
                    message: The specified property ID does not exist.
      parameters:
        - schema:
            type: string
          in: query
          name: search
          description: The search parameter is used to match against the description field to filter the results.
        - schema:
            type: integer
            maximum: 200
            minimum: 1
            default: '100'
          in: query
          name: limit
          description: Controls the number of versions to return.
        - schema:
            type: integer
            minimum: 0
            default: '0'
          in: query
          name: offset
          description: Returns property versions beginning with this index instead of the default first one.
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    parameters:
      - schema:
          type: string
        name: propertyID
        in: path
        required: true
    post:
      summary: Create a property version
      responses:
        '201':
          description: 'A new property version was successfully created. The <b>Location</b> HTTP header indicates the version number. Example:  Location: http://ngapi.cdnetworks.com/cdn/properties/e0d1819863b856c42635ae17/versions/8'
          headers:
            Location:
              schema:
                type: string
              description: Refers to the new version
              required: true
        '400':
          description: The request was invalid. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid origin:
                  value:
                    code: InvalidOrigins
                    message: "The origin hostHeader 'invalid' is invalid. It must be a valid hostname or a variable name ($ + a string consists of lower case a-z and '_' with length 3-60)."
        '404':
          description: The property could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  messasge:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidPropertyId
                    message: The specified property ID does not exist.
      description: Create a new version of a property.
      operationId: createPropertyVersion
      tags:
        - Property Management
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/propertyconfiguration.v1.yaml
            examples:
              example-1:
                value:
                  syntaxVersion: 1
                  edgeLogic: 'location / {origin_pass my_origin_1572402826736;} return 200;'
                  origins:
                    - servers:
                        - mwtrial.info
                      name: my_origin_1572402826736
                  description: validPropertyVersionWithoutCertificate_PropertySteps
                  hostnames:
                    - testdomain-t1572402826736.mwtrial.info
        description: Specify the property configuration in the request body.
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
  /cdn/properties:
    parameters: []
    post:
      summary: Create a property
      responses:
        '201':
          description: 'This response indicates the property was successfully created. A Location header containing the URL of the new property is returned. For example, Location: http://ngapi.cdnetworks.com/cdn/properties/8fdc9c949e986564cc24b149'
          headers:
            Location:
              schema:
                type: string
              description: Refers to the new property URL.
              required: true
        '400':
          description: The request was invalid. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid Edge Logic:
                  value:
                    code: InvalidEdgeLogic
                    message: "Please check the edgeLogic configuration format. Make sure each 'location' block has an 'origin_pass' or a 'return' directive. A top-level 'if' block must have a 'return' directive and not contain an 'origin_pass' directive. A location directive for the default path '/' is also required."
                Invalid certificate ID:
                  value:
                    code: InvalidCertId
                    message: The specified tlsCertificateId does not exist.
        '403':
          description: This error is returned if the API call is not permitted. Please check the response body for further details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  '':
                    type: string
              examples:
                Access denied:
                  value:
                    code: AccessDenied
                    message: Please enter valid credentials.
        '409':
          description: This error is returned if you try to create a property which already exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Duplicate property name:
                  value:
                    code: DuplicatePropertyName
                    message: A property with the same name already exists.
      description: Creates a property to define the configuration of one or more hostnames (domains) to deploy to the CDN360 servers.
      operationId: createProperty
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the property.
                description:
                  type: string
                  description: Description of the property.
                  maxLength: 250
                version:
                  $ref: ./models/propertyconfiguration.v1.yaml
              required:
                - name
                - version
            examples:
              example-1:
                value:
                  name: TestProperty1572420065294
                  description: validPropertyNoCertificate_PropertyEndToEndTestSteps
                  version:
                    syntaxVersion: 1
                    edgeLogic: 'location / {origin_pass my_origin_1572420065294;}'
                    origins:
                      - hostHeader: testcustomer.g.qtlcdn.com
                        servers:
                          - edgetools.quantil.com
                        name: my_origin_1572420065294
                        directConnection: auto
                    hostnames:
                      - testcustomer1572420065294.g.qtlcdn.com
        description: The request body includes the name of the property and all configurations that must be deployed to the CDN360 cache servers.
      tags:
        - Property Management
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    get:
      summary: Query Property List
      tags:
        - Property Management
      responses:
        '200':
          description: A summary of the properties is returned including the ID and latest version of each one.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    type: array
                    items:
                      $ref: ./models/propertyentry.v1.yaml
                  count:
                    type: number
                    description: |
                      number of properties
                required:
                  - properties
                  - count
              examples:
                Example:
                  value:
                    count: 2
                    properties:
                      - id: 8fdc9c949e986564cc24b149
                        name: TestProperty1572488767058
                        description: validPropertyNoCertificate_PropertySteps
                        latestVersion: 1
                        lastUpdateTime: '2019-10-31T02:26:07Z'
                        creationTime: '2019-10-31T02:26:07Z'
                      - id: 59ebc3af71985328ded56857
                        name: TestProperty1572488525164
                        description: 1572488525164unique description property
                        latestVersion: 1
                        productionVersion:
                          version: 1
                          hostnames:
                            - testdomain-t1572488525164.mwtrial.info
                        lastUpdateTime: '2019-10-31T02:22:05Z'
                        creationTime: '2019-10-31T02:22:05Z'
          headers:
            Qtl-Request-ID:
              schema:
                type: string
              description: A unique ID representing the request.
              required: true
        '400':
          description: This response is returned if there are errors in the API call.
          content:
            application/json:
              schema:
                type: object
                description: Indicates the error
                properties:
                  code:
                    type: string
                    description: An error code
                    enum:
                      - InvalidListOffset
                      - InvalidListLimit
                  message:
                    type: string
                    description: An error message
                    example: The offset must be a valid non-negative integer.
              examples:
                example-1:
                  value:
                    code: InvalidListOffset
                    message: The offset must be a valid non-negative integer.
                example-2:
                  value:
                    code: InvalidTarget
                    message: 'Invalid target query parameter. Only "all", "staging", or "production" are allowed.'
      description: 'The API returns a summary of all properties including the ID, latest version number, comments, staging version number, production version number, and last update time of each one.'
      operationId: getPropertyList
      parameters:
        - schema:
            type: string
          in: query
          name: search
          description: 'The value of the search parameter is matched on the <i>id</i>, <i>name</i>, <i>description</i>, and <i>hostnames</i> fields of each property.'
        - schema:
            type: string
          in: query
          name: hasConfig
          description: "The value of <i>hasConfig</i> is used to filter the results. It can be any field name of a property version, optionally followed by a colon and a value. For example: \n<code>\nhasConfig=hasBeian:true&hasConfig=realTimeLog</code> \n\nWhen a colon and value are specified, only properties whose configurations have that specific value of the field will be returned.  If a colon and value are omitted, all properties with a nonempty value for the field will be returned. If there is  more than one <i>hasConfig</i> query parameter, they will be combined together allowing you to find properties matching multiple fields.  If a property has multiple versions, the property will be included in the API response if any of its versions matches the <i>hasConfig</i> parameter.\n\n"
        - schema:
            type: string
            enum:
              - all
              - staging
              - production
            default: all
          in: query
          name: target
          description: "The value can be \"all\", \"staging\", or \"production\" to filter the results based on where the property has been deployed. \n"
        - schema:
            type: number
            default: '0'
          in: query
          name: offset
          description: 'Indicates the first item to return. The default is "0".'
        - schema:
            type: number
            default: '100'
            maximum: 200
          in: query
          name: limit
          description: Maximum number of properties to return. The default is to return a summary of all properties.
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sortOrder
          description: Order of properties to return. The default is to return the last one updated first.
        - schema:
            type: string
            default: lastUpdateTime
            maxLength: 0
            enum:
              - creationTime
              - lastUpdateTime
          in: query
          name: sortBy
          description: Returns results in sorted order
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
  /cdn/cnames:
    post:
      summary: Create a CNAME
      tags:
        - CNAME Management
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: The value is a URL to the new CNAME.
              required: true
        '400':
          description: The request was invalid. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid client region:
                  value:
                    code: InvalidClientRegion
                    message: "Invalid client region 'aaabcde'."
                Invalid CNAME suffix:
                  value:
                    code: InvalidCnameSuffix
                    message: "Invalid CNAME 'testdomain-.mydomain.info'. The CNAME can end with these values:  .qtlgslb.com."
                Invalid weight code:
                  value:
                    code: InvalidWeightCode
                    message: "Invalid weight 'test'. The weight should be an integer between 0 and 100."
                Invalid CNAME:
                  value:
                    code: InvalidCname
                    message: "Invalid CNAME 'abcdef'. The CNAME must be a valid domain name string."
        '402':
          description: Too many CNAMEs have been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Too many CNAMEs:
                  value:
                    code: TooManyCnames
                    message: The number of CNAMES exceeds the account maximum.
        '409':
          description: The CNAME could not be created due to a conflict. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                CNAME already exists:
                  value:
                    code: CnameAlreadyExists
                    message: The proposed CNAME cannot be created because it already exists.
      description: "This API enables you to create CNAMEs to control how requests from different client zones are handled. You must modify your DNS records to point your properties' hostnames to a CNAME created using this API in order for CDN360 to handle your content."
      operationId: createCNAME
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cname:
                  type: string
                  description: 'A CNAME you wish to use. It should end with ".qtlgslb.com".'
                  example: testcname.123.qtlgslb.com
                description:
                  type: string
                  description: A description of the CNAME.
                pciRequired:
                  type: boolean
                  default: false
                  description: 'Indicates whether PCI compliance is required.  <i>true</i> means content will only be served by PCI certified PoPs.'
                  enum:
                    - 'true'
                    - 'false'
                hasBeian:
                  type: boolean
                  default: false
                  enum:
                    - 'true'
                    - 'false'
                  description: |
                    Indicate whether you have a Beian license for service in China. If you do, content can be served by servers located within mainland China.
                gdprCompliant:
                  type: boolean
                  default: false
                  description: "If set to 'true', clients from European Economic Area (EEA) countries will only be served by a IP addresses in EEA countries."
                  enum:
                    - 'true'
                    - 'false'
                clientZones:
                  type: array
                  description: "Specify rules to control how requests from client zones are handled. If unspecified, a default rule will be created which uses our 'standard' server group to handle all requests:  \n<code>{\"region\":\"all\", \"isp\":\"all\", \"action\":{\"type\":\"deliver\",\"by\":[\"standard\"]}}</code>"
                  items:
                    $ref: ./models/cnameregionrules.v1.yaml
                estimatedBandwiidth:
                  type: string
                  description: 'An estimate of the bandwidth required to serve content using this CNAME. Units of meaurement should be in Tbps, Gbps, Mbps, or kbps. Example: 100Gbps'
            examples:
              example-1:
                value:
                  cname: testcname.t1573428787161.g-beta.qtlcdn.com
              example-2:
                value:
                  cname: testcname.123.qtlgslb.com
                  clientZones:
                    - region: eu
                      isp: all
                      action:
                        type: deliver
                        by:
                          - standard
        description: The request body contains rules for your CNAME.
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    get:
      summary: Get a list of CNAMEs
      tags:
        - CNAME Management
      responses:
        '200':
          description: The response contains CNAMEs matching the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cnames:
                    type: array
                    items:
                      type: object
                      properties:
                        cname:
                          type: string
                          description: A CNAME.
                        description:
                          type: string
                          description: Description of the CNAME.
                        lastUpdateTime:
                          type: string
                          description: RFC3339 format string indicating when the CNAME was last updated.
                        creationTime:
                          type: string
                          description: RFC3339 format string indicating when the CNAME was created.
                        hasBeian:
                          type: boolean
                          description: '<i>true</i> indicates that domains being accelerated have a Beian license allowing content to be served by servers in mainland China.'
                        highestServerGroup:
                          type: string
                          description: 'Indicates the highest server group that can be used to serve this CNAME. The server groups are specified when you create a client zone rule for a <a href="#operation/createCNAME">new CNAME</a>. '
                          enum:
                            - standard
                            - premium
                            - premium+
                            - ultra
                      required:
                        - cname
                        - description
                        - lastUpdateTime
                        - creationTime
                        - hasBeian
                        - highestServerGroup
                  count:
                    type: integer
                    minimum: 0
                    description: 'Total number of CNAMEs in the account. The actual number of CNAMEs returned in the <i>cnames</i> field may be smaller if query parameters are specified.'
                required:
                  - count
              examples:
                example-1:
                  value:
                    count: 2
                    cnames:
                      - cname: ekgggzcmswu4vc.qtlcdn.com
                        description: my CNAME
                        hasBeian: false
                        highestServerGroup: standard
                        lastUpdateTime: '2019-12-04T19:44:12Z'
                        creationTime: '2019-12-04T19:44:12Z'
                      - cname: cdn.admtl.com.qtlcdn.com
                        description: ''
                        hasBeian: false
                        highestServerGroup: standard
                        lastUpdateTime: '2019-11-21T00:15:35Z'
                        creationTime: '2019-11-21T00:15:35Z'
        '400':
          description: Invalid request. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid List Limit:
                  value:
                    code: InvalidListLimit
                    message: 'The value of limit should be between 1 and 200, inclusive.'
                Invalid List Limit 2:
                  value:
                    code: InvalidListLimit
                    message: The limit value should be an integer.
                Invalid Sort Order:
                  value:
                    code: InvalidSortOrder
                    message: The valid sort order values are asc and desc.
                Invalid hasBeian parameter:
                  value:
                    code: InvalidHasBeian
                    message: Invalid hasBeian parameter. Only true and false are allowed.
      operationId: getCNAMES
      description: 'Get a list of CNAMEs. Specify search, offset, and limit parameters to filter your results. The default is to return the most recently updated CNAME first.'
      parameters:
        - schema:
            type: string
          in: query
          name: search
          description: "The value is matched against the 'description' and 'cname' fields of each CNAME."
        - schema:
            type: integer
            default: '0'
            minimum: 0
          in: query
          name: offset
          description: Indicates the first CNAME to return. The first has an offset of 0.
        - schema:
            type: integer
            default: '100'
            maximum: 200
          in: query
          name: limit
          description: Maximum number of CNAMEs to return.
        - schema:
            type: string
            enum:
              - creationTime
              - lastUpdateTime
            default: lastUpdateTime
          in: query
          name: sortBy
          description: Order the list of CNAMEs.
        - schema:
            type: string
            default: desc
            minLength: 0
            enum:
              - asc
              - desc
          in: query
          name: sortOrder
          description: "Indicates the order of CNAMEs returned. Use 'asc' for ascending order or 'desc' for descending order."
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
        - schema:
            type: boolean
          in: query
          name: hasBeian
          description: 'Specify <i>true</i> to obtain a list of CNAMEs flagged for use with hostnames that have a Beian license allowing them to be served by servers in mainland China. Specify <i>false</i> to only retrieve those CNAMEs without the Beian flag.  By default, all CNAMEs are returned.'
  /cdn/certificates:
    post:
      summary: Create a certificate
      tags:
        - Certificate Management
      responses:
        '201':
          description: 'The certificate was created. The <i>Location</i> header contains a URL to the new certificate.'
          headers:
            Location:
              schema:
                type: string
              description: "The Location header's value will be a URL allowing you to get details about the new certificate.  Example: <code>Location: http://ngapi.cdnetworks.com/cdn/certificates/d60b730d9a586425677940cc</code>"
              required: true
        '400':
          description: The request was invalid. Refer to the response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Example of creating a certificate without a proper private key.:
                  value:
                    code: InvalidKey
                    message: 'Invalid private key cipher. To protect the private key, it must be encrypted with your API key and the timestamp before you upload.'
                Example of passing an invalid value to the autoRenew field:
                  value:
                    code: InvalidAutoRenew
                    message: "The value 'yes' of autoRenew is invalid. Only 'LE' and 'Off' are allowed."
                Response when trying to create a self-signed certificate without specifying the identificationInfo field.:
                  value:
                    code: InvalidIdentificationInfo
                    message: "IdentificationInfo can't be empty for self-signed certificate."
        '402':
          description: Your account already has too many certificates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Response when attempting to create a certificate if you have already reached the maximum number permitted.:
                  value:
                    code: TooManyCerts
                    message: The number of certificates exceeds the account maximum.
        '409':
          description: The certificate already exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: DuplicateName
                    message: A certificate with the same name already exists for the customer.
      operationId: createCertificate
      description: Create a certificate along with its first version. You can choose to upload the key/certificate pair or generate a self-signed one.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the certificate.
                description:
                  type: string
                  description: |
                    A description of the new certificate.
                sharingMethod:
                  type: string
                  default: none
                  description: |-
                    This field can only be used if you are a reseller.
                    A value of "all" indicates all child customers can use the certificate. A value of "none" indicates no child customers can use it.
                    If the value "some" is given, specify the IDs of your customers to share the certificate within the <i>shareWith</i> field.
                  enum:
                    - all
                    - none
                    - some
                shareWith:
                  type: array
                  description: 'This field is available to resellers only. It is associated with the <i>sharingMethod</i> field and is only used if the value of <i>sharingMethod</i> is "some".  Enter a list of customer IDs.'
                  items:
                    type: integer
                autoRenew:
                  type: string
                  enum:
                    - LE
                    - 'Off'
                  description: "Specifying \"LE\" requests that we automatically renew your certificate through Let's Encrypt (https://letsencrypt.org/docs/challenge-types/) when it is close to expiring. "
                newVersion:
                  type: object
                  description: This object is used to specify the initial version of the certificate.
                  properties:
                    comments:
                      type: string
                      description: Comments about the certificate version.
                    privateKey:
                      type: string
                      description: "The value must be either the private key in PEM format and encrypted with the API key and timestamp OR the literal string \"RSA2048\" or \"ECC256\" if you opt to generate a self-signed certificate. The key must be encrypted with AES-128-CBC and base64-encoded. This helps protect your key when you upload it to CDN360.  The following Bash script demonstrates the required encryption when passing us the private key:\n<pre><code>\n#!/bin/bash\n\nAPI_SERVER=https://ngapi.cdnetworks.com\n\n\nUSER=YourAPILogin\nAPI_KEY=YourAPIKey\n\n\nDATE=`date \"+%a, %d %b %Y %H:%M:%S %Z\"`\necho $DATE\n\n#Generates password\npassw=$(echo -n \"$DATE\" | openssl dgst -sha1 -hmac \"$API_KEY\" -binary | base64)\necho \" \"\n\n# Generates IV and Key private key encryption\naesivkey=$(echo -n \"$DATE\" | openssl dgst -sha256 -hmac \"$API_KEY\" -r)\naes128cbciv=${aesivkey:0:32}\naes128cbckey=${aesivkey:32:32}\necho $aes128cbciv\necho $aes128cbckey\n\n# Encrypts the private key in certificate.\nprivate_key='-----BEGIN RSA PRIVATE KEY-----\\nMIIEpAIBAACavS...bw==\\n-----END RSA PRIVATE KEY-----'\nencrypted_private_key=`echo -e $private_key | openssl aes-128-cbc -base64 -nosalt -K $aes128cbckey -iv $aes128cbciv`\n\n# Create certificate\napiCall=\"curl -i --url\n '${API_SERVER}/cdnapi/certificates'\n\t\t\t-X POST \\\n\t\t\t-u $USER:$passw \\\n\t\t\t-H 'Date: $DATE' \\\n            -H 'Content-Type: application/json' \\\n\t\t\t-H 'Accept: application/json'\\\n            -H 'On-Behalf-Of:126' \\\n            -d '{\n                \\\"name\\\":\\\"testncas728\\\", \\\n                \\\"description\\\":\\\"\\\", \\\n                \\\"sharingMethod\\\": \\\"some\\\", \\\n                \\\"shareWith\\\":[123,456,789], \\\n                \\\"newVersion\\\":{ \\\n                    \\\"comments\\\":\\\"some comments\\\", \\\n                    \\\"privateKey\\\":\\\"$encrypted_private_key\\\", \\\n                    \\\"certificate\\\":\\\"-----BEGIN CERTIFICATE-----\\nMIIDnD...s\\nsbg==\\n-----END CERTIFICATE-----\\\", \\\n                    \\\"chainCert\\\":\\\"-----BEGIN CERTIFICATE-----\\nMIIDpj...FeK+28=\\n-----END CERTIFICATE-----\\\" \\\n                } \\\n            }' \\\n            \"\neval $apiCall\n</code></pre>"
                    certificate:
                      type: string
                      description: |-
                        Enter the certificate in PEM format or the literal string "GENERATE" if you wish that we create a self-signed certificate valid for ten days for test purposes. If you enter "GENERATE", then you must also <li>specify either "RSA2048" or "ECC256" as the value of the privateKey field to choose the encryption for the self-signed certificate.</li>
                        <li>fill in the <i>identificationInfo</i> field</li>
                    chainCert:
                      type: string
                      description: The chain certificate in PEM format.
                    identificationInfo:
                      $ref: ./models/certificateidentificationinfo.v1.yaml
                forceRenew:
                  type: boolean
                  default: false
                  description: 'A value of <i>true</i> requests the certificate to be auto renewed as soon as possible instead of waiting for the certificate to expire in 15 days. The value will be set to false after a successful renewal.'
              required:
                - name
            examples:
              Example of uploading a certificate:
                value:
                  name: testCertificate2019101201254
                  description: a description
                  newVersion:
                    comments: certificate comments
                    privateKey: I5/2qKmPCf6ITq4kQIujhjerwDoin9aJquu1oGGO312SC/a2rGrSBls90AuxZuFLcfltz4r+u31AlLNRrcNbW5+4gLxsU6OPw3Hv9ta165rnoeDlRyyQPJX0c4dHb1EcvTF/5RkzbHjpDVTvYio9nFfd+Gjk1spHQzGcMbs151CrndlYM6QrmrVLTnYKTxAlunFXOVRxHGEEvAtFege7ozBxkLph0L3ZarfDJ4Zwxn61q9PXaHPUVqBPVKFgKpPy6bpETidgg/sTodb9dFogCK9vl60vZtRrwXmRvpOBkwhwMcfvpXCSXiOjxBbAFhTc6KeC50LwneGPhucogUByqTub8go1SSGdqWRb/kSJva7Zb8R6C3n1/p5YswNv3N84SmGKrGnZy08CC6zzptU4jsYKsRByAz1uW3A/89LT7QTr3o5uDN9lLiKpzLSafhqZHz+r+8hO44Sr2sdz2uYY6RIShPHuoB7GzhjO5ObHCmDL7+IZScpBnKE3762XHV9CDCxcvGADwdzzC05ZpdSh8mYBUbrN1jqriVxQ4Klh5XEc33kW7xAexb89AaVK0Nfj3V2rFomjnw1aAKRrz+el3WvtIb9lMp4D4kIFzEcLKLME/6kejTj6MNFKf32hB0nFvSKq9D5i2V4AgQFC0HA75q79ZM+o5Daf1/yex4nFSvBZLdlAfSWJykLYmsVTreVAoCOaci0Vo64LjJMivF5M6YEO+j/xIFUPpNbs81dT5p2vqVJEFCLeymyHW3hcHShClo0ThDeMG41JmJ7W3i/nIcUpY6WgdEErrDTJdQsh0y+/XdA1c8f3L3tNbX1SDMZFZh9BoE8epdcHKGo2qF8DvzSSaMiwYTtOatm7lKYyf0e10poDCXYsVpoUj31f+e2noYwZzwoB+jetzcG5CYK2t5VSj5sFqozbGn5jV6rnOtYRmYG2pmxeIyNXiNfwVD+h0zudaZhBQcgUFHUApkt6KlcmDDM+16nY6rTqyP1fDqdIQsrpztspbbh+l68lxz2mGW6S8L/TrQfN8eoEB/xT1G3r2lBI1XrcDP5q+uO1RZvYn+As5xQG0l+nG6AxWhRaYb06leC8teCHaVRzjupzsXaQDOB8TylFmFcHajpXQ4O/ssjNw22LEMyj5Tr2Z5Kh5QNwpZQ6JJla92dTEwP4hRIvpVZcZJExxO4OnVgc+Mvtw+lK/V1iCqGBCd9nHCYFU38EkIf4M4FUEyitL4Vwofi5LZKHdP/NAYTmwQnkvkyiPzGlGDlhIlAwF2flB6k72bXBVVdC4BhhtI5X4COHHrwzORskMSRhWKv+J5L1sQD2RjrjoGt+gSiXiNOE5D174Gy0yQFT+ECA9OaFQxiPGnBO2+2io15HZTgRnLRde3gzvLIvL5HjqHHkjlMYMUgMhVrTvWxzwD8pO9VWIRfD3lJvhRrkc77gqHGfBP/rY7VXyxZyj0OOwfJlq3Nj8rt8wXFX0SBNbN6CgYCEo8tjQgTUU+vjBv13bfXPUVeCr9sHiHV4s5NubukMZ8PgjrnH9ckCILn3lyqq51wW7+sFtJ4d9H37vuAL4u6I0ncB+C5TC/JLBI4NmXJxkBpCInoCwfDMl7KJDWqifYdO4BUOD5Tc2rbror+5t1XwzKrRHGUf/gy/VPGfnt6hfvD7RsGAKiDX4YHpQCo1nfASj/63xXGc6WaCjoQiZHV+VVNhT3sVXBvJMqV381rttzo4kHp8HzmtE0yTa/UbKTFHz9q0ux4kzbMrivVauW177EXBKDADNiVPzKanCksCUwtAbIuEwdhCo8aGtZ4Yts1Fgy2W2pMwm447x0a9I3EJQ/qptoguIwf35T2AFSIyXSUYTHUTBobKn5CTym2Q6IGn+OdHhHiS5eWcMw4gc86l47iyxL4A++pnddUDa8QZ2CmcWSoJH6s7iZpICsawjk5Zv9pIpqTlJiqx0X55M9RgolYphzPneN6OLRq8gRdKiEHeySbwLMRzuqza8Jic/8gNrU1JtiHVIKIsHq8fA8jAVOLPytNXHDY/BqC34WNaTtAMobyE/4cWT2ztLZe55YosDsijvFOlLBKVSxy8t6MA7xkQP04BRxP0WQILGYlhZlMIvybTXo8ufMjf8CdqIg/C9OO3iLddGROcTXv6s65Qccg69gSL8wiHNYAGWHrlOTWXyNyc/Ktnm6LAqBgS3oGDmRWjFDQMA85Zg5lEVH7onQ7hs//MN/L83s/IN254L1guzTDSO3B434UMa497A0q7bMxpdYPSUdmbocmgEoav9a24LL4=
                    certificate: "-----BEGIN CERTIFICATE-----\r\nMIIFhDCCA2ygAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwgYUxCzAJBgNVBAYTAkdC\r\nMRAwDgYDVQQIDAdFbmdsYW5kMRIwEAYDVQQKDAlBbGljZSBMdGQxLDAqBgNVBAsM\r\nI0FsaWNlIEx0ZCBDZXJ0aWZpY2F0ZSBBdXRob3JpdHkbWzN+MSIwIAYDVQQDDBlBbGljZSBMdGQgSW50ZXJtZWRpYXRlIENBMB4XDTE5MDkyNDA5MzMzOFoXDTI5MTIz\r\nMDA5MzMzOFowgYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxpZm9ybmlhMRYw\r\nFAYDVQQHDA1Nb3VudGFpbiBWaWV3MRIwEAYDVQQKDAlBbGljZSBMdGQxHzAdBgNV\r\nBAsMFkFsaWNlIEx0ZCBXZWIgU2VydmljZXMxFzAVBgNVBAMMDioubXd0cmlhbC5p\r\nbmZvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuiMxFcNZc27GUlJZ\r\njgfTM83BkrVBDFDG0WjTQtYtc4qaRzEKsfGLYfa2CnF3FYdgTVpTuNdgMKY5rL4s\r\nUbq55+0HNtIw5iYkqhzkFldYQITqSbF3nF0Kj/v38W+T/qn/0p96rKF2TBeNHQHn\r\nJjFdz5/UkoEyqVjt0GEWcNF2M6+qeTxFjySvf+v8yLB5innjjYIYBYaqq4OYPbXi\r\ntce4LD/++pHEblOtadohZzZih/zVEKpdDE2DB+IhJL2OB+s8rGb6LSNm2si1MSps\r\nLrtvTup/4OtmZ0qEIpf+He40uAsg/xBpBurPgYnYExbjTPDignWj3CTWMEK5uZYn\r\nV/e9BwIDAQABo4H4MIH1MAkGA1UdEwQCMAAwEQYJYIZIAYb4QgEBBAQDAgZAMDMG\r\nCWCGSAGG+EIBDQQmFiRPcGVuU1NMIEdlbmVyYXRlZCBTZXJ2ZXIgQ2VydGlmaWNh\r\ndGUwHQYDVR0OBBYEFCHUj0nwBzmdBxQRHpjMVSmdJXSxMFwGA1UdIwRVMFOAFBGc\r\nFBxeLtyzA/PsIOuD+j5Y4ONPoTekNTAzMQswCQYDVQQGEwJHQjEQMA4GA1UECAwH\r\nRW5nbGFuZDESMBAGA1UECgwJQWxpY2UgTHRkggIQADAOBgNVHQ8BAf8EBAMCBaAw\r\nEwYDVR0lBAwwCgYIKwYBBQUHAwEwDQYJKoZIhvcNAQELBQADggIBAJvcF42qjfCE\r\nLDZaAsnMK/y2DXz3hN0feVkg1Dfam1WgzKJt+8Py7s1EnB13crEoRNZFgfQexsSv\r\nHHWFad19X1qb/wCdmgqeIVm5NSEvTTBaUHjKFsVJ7wdtxSi9yGj9tBHb2bA4lhxG\r\nmL8m4HKPsDurJQstfOLWgKunLW4DAsgzhyleg5meeS7tT4Gzoyo1DuFqInzHVfuQ\r\neM5ABBE/lZTpL6348booqkLb2uxXUavtRY0/ePYA7QkuVoISby+OA9Gvhp2UUEr1\r\nNPQplZLE5nrEzm/DzVW5vK2GnVfsY47YT9q35Ccrte0PL4xrwlx+a5OT0G+38JLx\r\n6PMwfJBhUkOrBHiwQem17l9ZITt4dXd9RTjg6uew85xXvkJfftIVrXa8WW+Tjz53\r\nsZAzZgE+Jb8C3FKJEwX6Cp6U8XKlKhiMU7OvjN8HSNnlvwDmxm2ze8czp/Pj+44Q\r\nXlU+hjKnTmNDZFTOCCuNk0faxpNCRKQFPfCMUM25WieAEJ2NfcmazjaFmSSYvITV\r\nlsl8UJ6Xx2iwl+2iagnYdXmwyt0XIEWhx4Tm7QaVJdE8PBjnFS6E1Al+HZYQ1DFu\r\no+RCOskDPTRTaw7YjU5MvxwaUtX0+dQl6niB1/Mwb0OUlQ3zhBmSQpA+ME4Tkz38\r\nv1PEmut2OHYOhGqr4zMXggzoNGSpEV+I\r\n-----END CERTIFICATE-----"
                    chainCert: "-----BEGIN CERTIFICATE-----\r\nMIIFmzCCA4OgAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwMzELMAkGA1UEBhMCR0Ix\r\nEDAOBgNVBAgMB0VuZ2xhbmQxEjAQBgNVBAoMCUFsaWNlIEx0ZDAeFw0xOTA5MjQw\r\nOTIxMDNaFw0yOTA5MjEwOTIxMDNaMIGFMQswCQYDVQQGEwJHQjEQMA4GA1UECAwH\r\nRW5nbGFuZDESMBAGA1UECgwJQWxpY2UgTHRkMSwwKgYDVQQLDCNBbGljZSBMdGQg\r\nQ2VydGlmaWNhdGUgQXV0aG9yaXR5G1szfjEiMCAGA1UEAwwZQWxpY2UgTHRkIElu\r\ndGVybWVkaWF0ZSBDQTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAO+1\r\nrCsTWGgjWa4CSh0JoM/P+TmVIeja8+Qf+7RvyNeMQxXTm9WU47BP8vyLeRmdUlKf\r\npCjHmtDdRHgDv5YLamR2gVcpLardBfcNi/2Oy4AaHCeXSReKS54UWnXjUb1LiNWe\r\njOlK6KlF9hpBvWW9q3qpovymDtoSqfks4w90AsVT65B/s7UnFakPjZA0S/sCsh+X\r\n3JuiFCxqQGkURT383LFP3f2iLdrixpy6E46ys4f1Z8PYiBojUPTHz2NFWYdYZm/8\r\nireK5aTtTn4N1dUNTBpE/XjCELV2KN3LIQYQiACA1yHPNtBk+qdrrd41/tutLQTE\r\nUz3IVzJTbbHfUajApL5nxWB1/AI0PNw9a9PDcPvJqt1x5SiKH801jvxOAfdubf0Z\r\n/3b8jmPd3UoVXUwfrOIdez7q23aCH6nARvktvS9WdkA0RzSG4cbmYIJcj3stS1D0\r\nS58w62TKl5Qm5NXman2MrzQpRvvCE3kbvGB3+yFLBu3H8eiHYTwQhykD09xcVrVI\r\nki9R8el8gxLTIOcl4IyWhdxMTZnFqK0AbwNREMWMoSNz+A+XdLDhKrEGLNlw+FJW\r\n8Tj03FbadQvHGv7oOqWglr3YLohTmjdr/wXvxG0ifv1HsmZtYodaPNCiy8d+BAWU\r\nPk6sDOQ1eL7fuV4ayYjMS7hiXXSJ5Uq6a8vbnRUBAgMBAAGjZjBkMB0GA1UdDgQW\r\nBBQRnBQcXi7cswPz7CDrg/o+WODjTzAfBgNVHSMEGDAWgBQ9haB9RXohMsZG8cSe\r\nq2/bfizOZjASBgNVHRMBAf8ECDAGAQH/AgEAMA4GA1UdDwEB/wQEAwIBhjANBgkq\r\nhkiG9w0BAQsFAAOCAgEAlc/GzCOQEZ5TTkzpRsdxAwQijdaoVTZc5aeqoYoYDsOv\r\nJ8B6DXwTpf2URxkulPwihjNTKmCY4agv31mguXF3k2h29pNGd2/Mr7TB7qZaaPXM\r\n82lumpCxSLtNVMvy4T8nrcQecLC/ZQlqmeIYwpvoD0hZtp1f6VYWkzFjteH93Gke\r\nnX6VaQuZnCwPFTndALAMZwPMdroipeMEctcozQHgl7K9/wNiXLJaEOtutD1UhBTl\r\ngpDY00Un7NfWminubnc/Hj5NXEQ9EkNseE8Yq8pp1wfSSOEWrzF5MluELcErZn2f\r\nupvY/H1rxO9B7xtzGh15fxkHYndsjn+Fp5a8mkriLyJd4DFXZPZLS6JMc1vcuJPG\r\njoz2kd2/deylnjPshx05GMUc2O23RImg1/b/cbyci0Al8veS6/lHRh5mG5e5APr7\r\nUQfuLuufzN+rHaSJNmcPzSVIDH+HPQ8R8BIUO8Y3brEKdMmsgDCmKhjrb9prjhLs\r\nWojwz5/VX8R6fkyDWnJHRBU0q93HS6PUu/6p5r1rRfXOjL4xbbLEF/uYQTLyUdqN\r\nG4LQzsqSbnUSnU1X+1hkyUQCjgfRCY1ue6/qzPn7SHx6Yyj1IyAkkYY1U/MdwCQ0\r\nj6Ku1SAwiznToVGJZJ2l9apakcWiyUyf50aPV7ue7Eqq4t8SEZ2AYDP0hL+zWI8=\r\n-----END CERTIFICATE-----\r\n-----BEGIN CERTIFICATE-----\r\nMIIFVzCCAz+gAwIBAgIUH/RVmBLtxfDViatHQYAwdaOcrVEwDQYJKoZIhvcNAQEL\r\nBQAwMzELMAkGA1UEBhMCR0IxEDAOBgNVBAgMB0VuZ2xhbmQxEjAQBgNVBAoMCUFs\r\naWNlIEx0ZDAeFw0xOTA5MjQwOTAyMzlaFw0zOTA5MTkwOTAyMzlaMDMxCzAJBgNV\r\nBAYTAkdCMRAwDgYDVQQIDAdFbmdsYW5kMRIwEAYDVQQKDAlBbGljZSBMdGQwggIi\r\nMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC/rMdlSxsny/sRsFsmXn6VfXmB\r\nqEPMChR5H6Yo5DEePGcZyf4zySxIiWE8ZAfY5jBN0JTr/6GQHu91MSqjUv8FBWYn\r\nlFzMZY9rc3iH24zt50ZcyQEoRvcjG/50nQmAaa5L/ivzFO7WLoWhw97XLKDiWBDP\r\nugnH8WIY53kgY9h5jxKaJxxBVoAY/uPOWSEfewcCNp/iZ6PX2qMfJp0Il8UK58By\r\n/ISkhTg3eisN1Dbk1HZQJ0qUEGNPn+uuuuo9p3LM5ziXKKdAKZzoSeRQaE2yCpsa\r\nnAWchFtkAJpo30ktvLX7cNSzFyOVrohTM8GXJEODQHdaTZD7sv0rxMZbLa98Uu4W\r\nMYnsgf3WJWeFgO0+wib+3rDCrcwU4nDjfcThrmFmX06EB69MIhD9FUapYvmZ8UqZ\r\n1JKPJdLum/JWmldqs4RG6gDKDNQuVNb1cLRM5yJ0cSYoQgRfKWQqxq0SGTNh4GpZ\r\nka7oUHEk2FW1Ha/WVb4WVYGY+Jg+poawAhJkhCMrBTt9Oct+Ay3gF0dc/nHYRLka\r\ni4DZ/+M4wY9vNiVSNGajA5tDnRS+1h+CT89q/m2Y2x8NR/h2sdxMLEiutYfszRJZ\r\n/Git01wgUoepH66UQjvPuNZqSS30mypM/fsQZCLI22+HnipQuSzlBcAQAgz2xyf8\r\nxtszPTcXxiF3LauclwIDAQABo2MwYTAdBgNVHQ4EFgQUPYWgfUV6ITLGRvHEnqtv\r\n234szmYwHwYDVR0jBBgwFoAUPYWgfUV6ITLGRvHEnqtv234szmYwDwYDVR0TAQH/\r\nBAUwAwEB/zAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcNAQELBQADggIBAB5AA7Qp\r\nRaW0Dm8WXmbfgnh5e01M5s9E+AgbL2d2Y15+Pcbv+o+GYtffHvf/Wpejcd6hHOdh\r\nSX1mbH1UwUZd2Iy/iZBj3Augv8ImdhxgGiR3xo7LnkP3RL5K40IzjDzwODo+DLgr\r\n2w0o1hXqhBzzCAgzhgpFM1C53Acw/CzzPNgVVOnxOFik1kmGexUfsWeERRlM++NV\r\nXgk+iKeIZ8Umz2t7XpEk6FOZiT7edPgoJZZQWaE7IEilYSooxGS4c/okMkEysUaI\r\neAup/7Sk6Gy7Dl0KC4Bef2P7gdaWg94o4FXVRsIsOuRAlXMVjXASxnAec7aC9wqv\r\n3t/SsukeMuYQbqYVl+mEE2lv3CCRReeoeePeWcReyBhegIOZ4a0Q3DlvmKk/88v2\r\nss8kBBU/JxY0nVBlEDDKnramARPLB84UphiG/n2sbEd/7zcQmUzHUaO1WDRryjjp\r\ny6cHeGV3oy10tenqOxfkqfPludgEMbWeSJFUFA2d6z8t3NHKA5tYupEx9qaVkDpG\r\nymsd8k+7ER2ALnGidC3NWyuFNlQ3OL52WgZnjnFPx99uoL+FiH40o3QTv8nu6RVD\r\nq3Fsop0xcj1KRCE0mwgLsNgzNvTHdUB8al/VZva7EkWiI/nlKF4oQzWD98zEFtUV\r\nQVMAqHFPkkZwjhb0NgpuuQkVkTSf4PNHBgjE\r\n-----END CERTIFICATE-----"
              Example of generating a self-signed RSA2048 certificate:
                value:
                  name: testCertificate2019101201313
                  newVersion:
                    privateKey: RSA2048
                    identificationInfo:
                      commonName: domain.com
                      country: US
                      city: Santa Clara
                      subjectAlternativeNames:
                        - a.domain.com
                        - b.domain.com
                      company: My Company
                      state: California
                      department: IT
                      email: somebody@mycompany.com
                    comments: a self-signed certificate
                    certificate: Generate
              Example of generating a self-signed ECC256 certificate:
                value:
                  name: testCertificate2019101201243
                  newVersion:
                    privateKey: ECC256
                    identificationInfo:
                      commonName: domain.com
                      country: US
                      city: Santa Clara
                      subjectAlternativeNames:
                        - a.domain.com
                        - b.domain.com
                      company: Company Name
                      state: California
                      department: IT
                      email: somebody@mycompany.com
                    comments: a self-signed certificate
                    certificate: Generate
        description: Describes the certificate to create.
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    get:
      summary: Query certificate list
      tags:
        - Certificate Management
      responses:
        '200':
          description: The response contains a list of certificates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of available certificates. The actual number returned depends on the query parameters.
                  '':
                    type: array
                    items:
                      type: object
                      description: Summarizes a certificate.
                      properties:
                        certificateId:
                          type: string
                          description: 'An ID representing the certificate. You can call GET /cdn/certificates/{certificate ID} to get details about a certificate.'
                        name:
                          type: string
                          description: Name of the certificate.
                        latestVersion:
                          type: integer
                          description: The latest version of the certificate.
                          minimum: 1
                        owner:
                          type: integer
                          description: Refers to the ID of the account that owns the certificate.
                        autoRenew:
                          type: string
                          description: "This is set to \"LE\" if you have chosen to autorenew the certificate using Let's Encrypt."
                          enum:
                            - LE
                            - 'Off'
                        creationTime:
                          type: string
                          description: An RFC3339 format date indicates when the certificate was added to the system.
                        expirationTime:
                          type: string
                          description: |
                            An RFC3339 format date indicating when the latest version of the certificate expires.
                        lastUpdateTime:
                          type: string
                          description: |
                            An RFC3339 format date indicates when the certificate was last updated.
                        versionInProduction:
                          type: integer
                          minimum: 1
                          description: Indicates the version of the certificate deployed to production.
                        versionInStaging:
                          type: integer
                          minimum: 1
                          description: Indicates the version of the certificate deployed to staging.
                        productionExpirationTime:
                          type: string
                          description: RFC 3339 date indicating when the version deployed to production will expire.
                        stagingExpirationTime:
                          type: string
                          description: RFC 3339 date indicating when the version deployed to staging will expire.
                        forceRenew:
                          type: boolean
                          description: Setting the value to true requests the certificate to be auto renewed as soon as possible instead of waiting for the certificate to expire in 15 days. The value will be set to false after a successful renewal.
                required:
                  - count
              examples:
                example-1:
                  value:
                    count: 10
                    certificates:
                      - certificateId: 5c5a5fa5e9b2e00001ef0462
                        name: testCertificateA
                        versionInProduction: 1
                        latestVersion: 3
                        owner: 1234567
                        autoRenew: 'Off'
                        creationTime: '2019-02-06T04:16:37Z'
                        expirationTime: '2020-10-12T12:10:31Z'
                        lastUpdateTime: '2019-02-06T04:16:37Z'
                        productionExpirationTime: '2019-10-12T12:10:31Z'
                      - certificateId: 5c5a6147e9b2e00001ef046f
                        name: testCertificateB
                        latestVersion: 1
                        owner: 1234567
                        autoRenew: LE
                        creationTime: '2019-02-06T04:23:35Z'
                        expirationTime: '2019-09-22T08:11:54Z'
                        lastUpdateTime: '2019-02-06T04:23:35Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Invalid target parameter:
                  value:
                    code: InvalidTarget
                    message: 'Invalid target query parameter. Only "all", "staging", or "production" are allowed.'
                Invalid auto renew:
                  value:
                    code: InvalidAutoRenew
                    message: "The value 'invalid' of autoRenew is invalid. Only 'LE' and 'Off' are allowed."
                Invalid sort by:
                  value:
                    code: InvalidSortBy
                    message: "The valid sort by values for this endpoint are 'creationTime', 'lastUpdateTime', 'expirationTime'."
      operationId: getCertificates
      description: "Get a list of available certificates including each certificate's ID, name, version deployed to production, version deployed to staging, the latest version number, when the certificate was last updated, and when the certificate expires. By default, certificates are returned in order of most recently updated first. Query parameters can be used to filter the list of returned certificates."
      parameters:
        - schema:
            type: string
          in: query
          name: search
          description: "This parameter specifies a keyword to be searched in the 'name' field of the certificate."
        - schema:
            type: integer
            minimum: 0
            default: '0'
          in: query
          name: offset
          description: The offset indicates the index of the first certificate to return. The default is 0.
        - schema:
            type: integer
            default: '100'
            maximum: 200
          in: query
          name: limit
          description: The limit indicates the maximum number of certificates to return.
        - schema:
            type: string
            enum:
              - all
              - staging
              - production
          in: query
          name: target
          description: |
            Filters the results based on where the certificate has been deployed. <table><tr><th>Value</th><th>Effect</th></tr><tr><td></td><td>An empty target parameter results in all certificates being returned  whether or not they have been deployed.</td></tr><td>all</td><td>Return all certificates deployed to either staging or production environments.</td></tr><tr><td>staging</td><td>Only return certificates deployed to staging.</td></tr><tr><td>production</td><td>Only return certificates deployed to production.</td></tr></table>
        - schema:
            type: string
            enum:
              - LE
              - 'Off'
          in: query
          name: autoRenew
          description: 'Filter results based on auto renewal status. By default, all certificates are returned.'
        - schema:
            type: string
            enum:
              - creationTime
              - lastUpdateTime
              - expirationTime
              - productionExpirationTime
            default: lastUpdateTime
          in: query
          name: sortBy
          description: Returns certificates sorted by this field.
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sortOrder
          description: |
            Return results sorted in this order ("asc" for ascending order, "desc" for descending order).
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
  '/cdn/certificates/{certificateID}':
    parameters:
      - schema:
          type: string
        name: certificateID
        in: path
        required: true
        description: ID of the certificate.
    get:
      summary: Get a certificate
      tags:
        - Certificate Management
      responses:
        '200':
          description: The response body contains information about the certificate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificateId:
                    type: string
                  name:
                    type: string
                    description: Name of the certificate.
                  sharingMethod:
                    type: string
                    default: none
                    enum:
                      - all
                      - some
                      - none
                    description: 'This option for resellers indicates whether the certificate is shared with customers. If the value is "some", then the <i>shareWith</i> field indicates the IDs of the customers who can use the certificate.'
                  shareWith:
                    type: array
                    description: 'If the certificate is shared, this indicates the IDs of customers who can use the certificate.'
                    uniqueItems: true
                    items:
                      type: integer
                  ownerCustomerId:
                    type: integer
                    description: ID of the customer that owns the certificate.
                    minimum: 1
                  description:
                    type: string
                    description: A description of the certificate.
                  versions:
                    type: array
                    description: "Describes the versions of the certificate that have been created. You can obtain further details about each version by calling the <a href=\"#operation/queryCertificateVersion\">Query a certificate version's details API</a>."
                    items:
                      type: object
                      properties:
                        version:
                          type: integer
                          minimum: 1
                          description: Indicates the version number.
                        type:
                          type: string
                          enum:
                            - uploaded
                            - self-signed
                          description: 'Indicates the type of the certificate, either "uploaded" or "self-signed".'
                        expirationTime:
                          type: string
                          description: RFC 3339 format string indicating when the certificate expires.
                        creationTime:
                          type: string
                          description: RFC 3339 format string indicating when the certificate was created.
                        fingerprint:
                          type: string
                          description: |
                            A unique fingerprint associated with the certificate.
                        comments:
                          type: string
                          description: Comments about the certificate version.
                      required:
                        - version
                        - type
                        - expirationTime
                        - creationTime
                        - fingerprint
                  autoRenew:
                    type: string
                    enum:
                      - 'Off'
                      - LE
                    description: "A value of \"LE\" indicates that auto renewal via Let's Encrypt (https://letsencrypt.org/docs/challenge-types/) is enabled."
                  usageInProduction:
                    type: array
                    description: Indicates who is using the certificate in production.
                    items:
                      type: object
                      properties:
                        customerId:
                          type: integer
                          description: ID of a customer using the certificate.
                        propertyId:
                          type: string
                          description: ID of the property using the certificate
                        hostnames:
                          type: array
                          description: List of hostnames using the certificate.
                          items:
                            type: string
                      required:
                        - customerId
                        - propertyId
                        - hostnames
                  versionInStaging:
                    type: integer
                    minimum: 1
                    description: Indicates the version of the certificate deployed to staging.
                  usageInStaging:
                    type: array
                    description: Indicates the customers using the certificate in staging.
                    items:
                      type: object
                      properties:
                        customerId:
                          type: integer
                          description: ID of a customer using the certificate.
                        propertyId:
                          type: string
                          description: ID of the property using the certificate.
                        hostnames:
                          type: array
                          description: List of hostnames using the certificate.
                          items:
                            type: string
                      required:
                        - customerId
                        - propertyId
                        - hostnames
                  versionInProduction:
                    type: integer
                    minimum: 1
                    description: Indicates the version of the certificate deployed to production.
                  forceRenew:
                    type: boolean
                    description: 'A value of <i>true</i> requests the certificate to be auto renewed as soon as possible instead of waiting for the certificate to expire in 15 days. The value will be set to false after a successful renewal.'
                required:
                  - certificateId
                  - name
                  - ownerCustomerId
                  - description
                  - versions
                  - autoRenew
              examples:
                example-1:
                  value:
                    certificateId: b23dce5954b2e1a639aa0a45
                    name: testCertificate2019101202146
                    versionInProduction: 2
                    sharingMethod: some
                    shareWith:
                      - 10000010
                    ownerCustomerId: 10000021
                    description: certificate description
                    versions:
                      - version: 1
                        type: selfsigned
                        expirationTime: '2019-11-21T22:21:41Z'
                        creationTime: '2019-11-11T22:21:41Z'
                        fingerprint: 6d38d08f70e3a04ad2c2bff11fb394e8ed29f878
                        comments: a self-signed version
                      - version: 2
                        type: uploaded
                        expirationTime: '2029-12-30T09:33:38Z'
                        creationTime: '2019-11-11T22:21:47Z'
                        fingerprint: 03a6feea219b6dfd3e54b41174393d56387cbebf
                        comments: certificate comments 2
                    usageInProduction:
                      - customerId: 10000021
                        propertyId: 2e88917f24ede37603837a43
                        hostnames:
                          - testdomain-t1573511384256.domain.info
                      - customerId: 10000010
                        propertyId: 75e8d78b973a4aadc3fcc185
                        hostnames:
                          - testdomain-t1573511634898.domain.info
                    autoRenew: 'Off'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Response when passing an invalid certificate ID:
                  value:
                    code: InvalidCertId
                    message: The specified certificate ID does not exist.
      description: Gets details about a certificate including the versions of the certificate and who is using it.
      operationId: getCertificate
      parameters:
        - schema:
            type: string
          in: header
          name: On-Behalf-Of
          description: 'If you are a reseller, you can use this header to specify the ID of a child customer.'
    patch:
      summary: Update a certificate
      responses:
        '201':
          description: This response indicates a new certificate version was created.
          headers:
            Location:
              schema:
                type: string
              description: 'The Location header returns a URL to the specific certificate version if a new one is created.  Example:  <code>Location: http://ngapi.cdnetworks.com/cdn/certificates/329f12c1fe6708c23c31e91f/versions/5</code>'
        '400':
          description: This response indicates the request was incorrectly formatted. Please refer to the response body for more details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidCert
                    message: The certificate body cannot be empty.
                example-2:
                  value:
                    code: InvalidSharingMethod
                    message: "An invalid value for sharingMethod was given. Only 'all', 'none', or 'some' is permitted."
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    code: InvalidCertId
                    message: The specified certificate ID does not exist.
      operationId: updateCertificate
      description: 'Update a certificate using this API. The fields are the same as those in the <a href="#operation/createCertificate">Create a certificate API</a>. If the certificate is currently used by properties deployed to production or staging, we recommend that you follow this API call by <a href="#operation/createDeployment">creating a deployment task</a> to deploy the updated certificate. Otherwise, CDN360 may still serve content using an older version of the certificate.'
      tags:
        - Certificate Management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the certificate.
                description:
                  type: string
                  description: Description of the certificate.
                sharingMethod:
[...]
